# Use this notbook for your 3 choices of APIs

In [1]:
# https://xeno-canto.org/explore/api

In [23]:
import requests
import json
import pandas as pd
from pandas import json_normalize
response = requests.get('https://xeno-canto.org/api/2/recordings?query=cnt:brazil')
results = response.json()
results
data = pd.DataFrame(results)
#data = json_normalize(data)
data.head()

,numRecordings,numSpecies,page,numPages,recordings
0,64783,1668,1,130,"{'id': '191451', 'gen': 'Rhea', 'sp': 'america..."
1,64783,1668,1,130,"{'id': '229054', 'gen': 'Rhea', 'sp': 'america..."
2,64783,1668,1,130,"{'id': '191450', 'gen': 'Rhea', 'sp': 'america..."
3,64783,1668,1,130,"{'id': '37806', 'gen': 'Rhea', 'sp': 'american..."
4,64783,1668,1,130,"{'id': '686584', 'gen': 'Rhea', 'sp': 'america..."

In [3]:
def flatten(data2, col_list):
    for column in col_list:
        flattened = pd.DataFrame(dict(data2[column])).transpose()
        columns = [str(col) for col in flattened.columns]
        flattened.columns = [column + '_' + colname for colname in columns]
        data = pd.concat([data, flattened], axis=1)
        data = data.drop(column, axis=1)
    return data2

In [4]:
data.shape

(500, 5)

In [5]:
response2 = requests.get('https://xeno-canto.org/api/2/recordings?query=cnt:germany')
results2 = response2.json()
results2
data2 = pd.DataFrame(results2)
data2.head()

,numRecordings,numSpecies,page,numPages,recordings
0,29012,352,1,59,"{'id': '127145', 'gen': 'Rhea', 'sp': 'america..."
1,29012,352,1,59,"{'id': '127143', 'gen': 'Rhea', 'sp': 'america..."
2,29012,352,1,59,"{'id': '133402', 'gen': 'Tetrastes', 'sp': 'bo..."
3,29012,352,1,59,"{'id': '437461', 'gen': 'Tetrastes', 'sp': 'bo..."
4,29012,352,1,59,"{'id': '437459', 'gen': 'Tetrastes', 'sp': 'bo..."

In [6]:
response3 = requests.get('https://xeno-canto.org/api/2/recordings?query=cnt:france')
results3 = response3.json()
results3
data3 = pd.DataFrame(results3)
data3.head()

,numRecordings,numSpecies,page,numPages,recordings
0,40833,683,1,82,"{'id': '471675', 'gen': 'Callipepla', 'sp': 'c..."
1,40833,683,1,82,"{'id': '471674', 'gen': 'Callipepla', 'sp': 'c..."
2,40833,683,1,82,"{'id': '471673', 'gen': 'Callipepla', 'sp': 'c..."
3,40833,683,1,82,"{'id': '471672', 'gen': 'Callipepla', 'sp': 'c..."
4,40833,683,1,82,"{'id': '471670', 'gen': 'Callipepla', 'sp': 'c..."

In [7]:
# http://api.citybik.es/v2/networks

In [8]:
# http://api.citybik.es/v2/networks?fields=id,name,href

In [9]:
response5 = requests.get('http://api.citybik.es/v2/networks?fields=id,name,href')
results5 = response5.json()
results5
data5 = pd.DataFrame(results5)
data5.head()

                                            networks
0  {'href': '/v2/networks/velobike-moscow', 'id':...
1  {'href': '/v2/networks/baerum-bysykkel', 'id':...
2  {'href': '/v2/networks/bicincitta-siena', 'id'...
3  {'href': '/v2/networks/cyclopolis-maroussi', '...
4  {'href': '/v2/networks/cycle-hire-slough', 'id...

In [10]:
# https://data.sec.gov/api/xbrl/frames/us-gaap/AccountsPayableCurrent/USD/CY2019Q1I.json

In [14]:
response6 = requests.get('https://datausa.io/api/data?drilldowns=State&measures=Population&year=latest')
results6 = response6.json()
results6
data6 = pd.DataFrame(results6)
data6.head()

ValueError: All arrays must be of the same length

##### {"data":[{"ID Nation":"01000US","Nation":"United States","ID Year":2020,"Year":"2020","Population":326569308,"Slug Nation":"united-states"},{"ID Nation":"01000US","Nation":"United States","ID Year":2019,"Year":"2019","Population":324697795,"Slug Nation":"united-states"},{"ID Nation":"01000US","Nation":"United States","ID Year":2018,"Year":"2018","Population":322903030,"Slug Nation":"united-states"},{"ID Nation":"01000US","Nation":"United States","ID Year":2017,"Year":"2017","Population":321004407,"Slug Nation":"united-states"},{"ID Nation":"01000US","Nation":"United States","ID Year":2016,"Year":"2016","Population":318558162,"Slug Nation":"united-states"},{"ID Nation":"01000US","Nation":"United States","ID Year":2015,"Year":"2015","Population":316515021,"Slug Nation":"united-states"},{"ID Nation":"01000US","Nation":"United States","ID Year":2014,"Year":"2014","Population":314107084,"Slug Nation":"united-states"},{"ID Nation":"01000US","Nation":"United States","ID Year":2013,"Year":"2013","Population":311536594,"Slug Nation":"united-states"}],"source":[{"measures":["Population"],"annotations":{"source_name":"Census Bureau","source_description":"The American Community Survey (ACS) is conducted by the US Census and sent to a portion of the population every year.","dataset_name":"ACS 5-year Estimate","dataset_link":"http://www.census.gov/programs-surveys/acs/","table_id":"B01003","topic":"Diversity","subtopic":"Demographics"},"name":"acs_yg_total_population_5","substitutions":[]}]}

In [ ]:
# https://www.govdata.de/daten/-/details/govdata-metadatenkatalog

In [18]:
response7 = requests.get('https://ckan.govdata.de/api/3/action/dcat_catalog_search?q=kindergarten&format=json-ld')
results7 = response6.json()
results7
data7 = pd.DataFrame(results7)
data7.head()

ValueError: All arrays must be of the same length